.menu {
  position: fixed;
  display: flex;
  right: -150px;
  transition: transform 0.6s ease-in;
  z-index: 999;

  .menu__button {
    margin-top: 15vh;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.95);
    border-right: none;
    outline: none;
    cursor: pointer;
    div {
      width: 30px;
      height: 30px;
      clip-path: polygon(100% 50%, 0 0, 0 100%);
      background: rgba(97, 11, 83, 0.8);
      margin: 5px;
    }
  }
  .menuBackground {
    top: -15vh;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95);
  }
  .links {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 15vh;
    width: 150px;

    .link-div {
      width: 100%;
      margin: 15px 15px;
      height: 25px;

      a {
        position: absolute;
        color: white;
        color: rgba(97, 11, 83, 0.8);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.2em;
        margin-top: -10px;
        margin-left: 15px;
      }
    }
  }
}
.menu.open {
  transform: translateX(-150px);
}

@media screen and(min-width:768px) {
  .menu {
    right: -300px;
    .links {
      width: 300px;
      .link-div {
        margin: 15px 15px;
        height: 25px;
        border: 1px solid rgba(97, 11, 83, 0.8);
        a {
          font-size: 2.6em;
          margin-top: -24px;
          margin-left: 15px;
        }
      }
    }
  }
  .menu.open {
    transform: translateX(-300px);
  }
}
