.writerName {
  position: absolute;
  top: 60%;
  left: 20%;
  h3 {
    text-transform: capitalize;
    font-size: 4em;
    font-style: italic;
    font-weight: 600;
  }
  p {
    text-transform: capitalize;
    font-size: 1.5em;
  }
}
