.writerName {
  position: absolute;
  bottom: 10%;
  width: 100%;
  margin: 0 auto;
  // left: 20%;
  h3 {
    text-transform: capitalize;
    font-size: 4em;
    font-style: italic;
    font-weight: 600;
  }
  p {
    text-transform: capitalize;
    font-size: 1.5em;
  }
}
